<div class="position-relative flex-grow-1 me-2">
  <input type="text" class="form-control" 
         [(ngModel)]="searchInput" 
         name="filterName" 
         placeholder="Szukaj po nazwie..."
         (ngModelChange)="onSearchInput()"
         (keydown)="onSearchKeydown($event)"
         (focus)="onSearchFocus($event)">
  @if (searchInput) {
    <button type="button" 
            class="btn-clear-search" 
            (click)="clearSearchField()"
            title="Wyczyść wyszukiwanie">
      <app-icon-close></app-icon-close>
    </button>
  }
</div>
<button class="btn btn-outline-primary" 
        (click)="onToggleFilter()"
        [class.active]="isFilterPanelOpen"
        title="Pokaż więcej filtrów">
  <app-icon-filter></app-icon-filter>
</button>

